<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link href="styles.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>To Do : An Emily Blanchett Application</title>
</head>

<body ng-app="contactsApp">
    <div ng-controller="contactsCtrl" class="container hero is-medium is-primary" id="maindiv">
        <div>
            <h1 class="title is-1 has-text-centered">My Todo List</h1>
               <form name="formy_new" ng-submit="addContact()" style="" id="new_contact">
                    <input class="input is-info" type="text" ng-model="newContact.fname" placeholder="First Name" style="margin-bottom:10px;" required>
                    <input class="input is-info" type="text" ng-model="newContact.lname" placeholder="Last Name" style="margin-bottom:10px;" required>
                    <input class="input is-info" type="text" ng-model="newContact.phone" placeholder="Phone #" style="margin-bottom:10px;" required>
                    <input class="input is-info" type="text" ng-model="newContact.email" placeholder="E-mail" style="margin-bottom:10px;" required>
                    <input class="input is-info" type="text" ng-model="newContact.birthday" placeholder="Birthday" style="margin-bottom:10px;" required>
                    <input ng-disabled="formy_new.$invalid" type="submit" value="Add" class="button"> </form>
                    
                    
                    <div>
                      <ul>
                         <li ng-repeat="contact in contactList track by contact.$id">
                       <form name="formy_edit">
                       <input type="text" ng-model="contact.fname">
                        </form> 
                          </li>
                        </ul>
                    </div>
            
            <div class="has-text-centered" id="listDiv">
               <div class="level is-mobile" style="background-color:white;" id="list-header">

                   <div class="level-left pddng-10">
                       <p class="is-primary title is-4" style="color:#00d1b2;">Task</p>
                   </div>
                   <div class="level-right pddng-10">
                       <p class="is-primary title is-4" style="color:#00d1b2;">Date</p> 
                   </div>
               </div>
               
                <ul class="has-text-centered">
                    
                </ul>
            </div>
        </div>
        <footer class="title is-5 has-text-centered">
           <p>Copyright 2017 © Emily Blanchett</p>
       </footer>
    </div>
       
        
  <!--Load Angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!--Load firebase-->
    <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
    <!--Load Angularfire-->
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    <!--Load our app-->
    <script src="app.js"></script>
</body>

</html>
