<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link href="styles.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do : An Emily Blanchett Application</title>
</head>

<body ng-app="contactsApp">
    <div ng-controller="contactsCtrl" class="container hero is-medium is-primary" id="maindiv">
        <div>
            <h1 class="title is-1 has-text-centered">My Todo List</h1>
               <form name="formy_new" ng-submit="addContact()" style="" id="new_contact" class="has-text-centered">
                    <input class="input is-medium width-50 mrg-tb-10 mobile-input" type="text" ng-model="newContact.fname" placeholder="Title" style="margin-bottom:10px;" required>
                    <textarea class="input is-medium width-50 mrg-tb-10 mobile-input" type="text" ng-model="newContact.lname" placeholder="Description" style="margin-bottom:10px;" required id="desc-textarea"></textarea>
                    
                    <input class="input is-medium width-50 mrg-tb-10 mobile-input" type="text" ng-model="newContact.phone" placeholder="Due Date" style="margin-bottom:10px;" required> 
                         <br>
                         <h2 class="title is-4">Subject</h2>
                          <select class="select is-medium mrg-btt-5" ng-model="newContact.subject" id="select_box">
                            <option>Select subject</option>
                            <option value="work">Work</option>
                            <option value="home">Home</option>
                            <option value="school">School</option>
                          </select>
                        
                   <br>
                   <div class="control-group">
                   <h2 class="title is-4">Priority</h2>
                   <label class="control control--radio">High!!!
		            <input type="radio" ng-model="newContact.priority" name="priority" value="!!!" id="high"/>
		            <div class="control__indicator"></div>
	                </label>
                   
                     <label class="control control--radio">Medium!!
		            <input type="radio" ng-model="newContact.priority" name="priority" value="!!" id="medium"/>
		            <div class="control__indicator"></div>
	                </label>
                   
                     <label class="control control--radio">Low!
		            <input type="radio" ng-model="newContact.priority" name="priority" value="!" id="low"type="radio" ng-model="newContact.priority" name="priority" value="!" id="low"/>
		            <div class="control__indicator"></div>
	                </label>
                    
                   </div>
                   
                    <input ng-disabled="formy_new.$invalid" type="submit" value="Add" class="button is-medium width-50 mrg-btt-20">
                     </form>
            <h2 class="title is-3 mrg-lft-10">Home</h2>
            <div class="has-text-centered" id="listDiv">
               <div class="level is-mobile" style="background-color:white;" id="list-header">

                   <div class="level-left pddng-10">
                       <p class="is-primary title is-4" style="color:#00d1b2;">Task</p>
                   </div>
                   <div class="level-right pddng-10">
                       <p class="is-primary title is-4" style="color:#00d1b2;">Date</p> 
                   </div>
               </div>
               
                <ul class="has-text-centered">
                    <li class="todo-list" ng-repeat="contact in contactList | filter:{subject:'home'} | orderBy: 'isCompleted'" ng-class="{'done':contact.isCompleted}">
                      
                      
                       <form name="formy_edit" class=" container" style="width:inherit; position: relative; ">
                       <table>
                        <tr>
                            <th><p class="priority">{{contact.priority}}</p></th>
                            <th><input class="checkbox" type="checkbox" ng-model="contact.isCompleted" id="doneCheck"></th>
                            <th ><input type="text" ng-model="contact.fname" class="todo_input_header"></th>
                            <th colspan="2"><input type="text" ng-model="contact.phone" class="todo_input_date"> </th>
                      </tr>
                      <tr>
                            <td colspan="3"> <input type="text" ng-model="contact.lname" class="todo_input_body"></td>
                            <td><a class="fa fa-trash-o fa-2x" aria-hidden="true" ng-click="removeContact(contact)" style="color:red;"></a></td>
                            <td><button class="button" ng-click="saveContact(contact)" ng-disabled="!formy_edit.$dirty || formy_edit.$submitted" id="save_button">Save</button></td>
                      </tr>
                    </table>
                       <!--<div class="pddng-10">
                       <p class="priority">{{contact.priority}}</p>
                       <input class="checkbox" type="checkbox" ng-model="contact.isCompleted" id="doneCheck">
                       <input type="text" ng-model="contact.fname" class="todo_input_header">
                          <input type="text" ng-model="contact.lname" class="todo_input_body">
                           </div>
                           <div class="pddng-10">
                       <input type="text" ng-model="contact.phone" class="todo_input_date"> 
                          
                          <div class="edit-buttons">
                          <a class="fa fa-trash-o fa-2x" aria-hidden="true" ng-click="removeContact(contact)" style="color:red;"></a>
                          <button class="button" ng-click="saveContact(contact)" ng-disabled="!formy_edit.$dirty || formy_edit.$submitted" id="save_button">Save</button> 
                          </div>
                           </div>-->
                        </form> 
                          </li>
                </ul>
            </div>
            <h2 class="title is-3 mrg-lft-10">School</h2>
             <div class="has-text-centered" id="listDiv">
               <div class="level is-mobile" style="background-color:white;" id="list-header">

                   <div class="level-left pddng-10">
                       <p class="is-primary title is-4" style="color:#00d1b2;">Task</p>
                   </div>
                   <div class="level-right pddng-10">
                       <p class="is-primary title is-4" style="color:#00d1b2;">Date</p> 
                   </div>
               </div>
               
                <ul class="has-text-centered">
                    <li class="todo-list" ng-repeat="contact in contactList | filter:{subject:'school'} | orderBy: 'isCompleted'" ng-class="{'done':contact.isCompleted}">
                       <form name="formy_edit" class="level container" style="width:inherit; position: relative; ">
                         <table>
                        <tr>
                            <th><p class="priority">{{contact.priority}}</p></th>
                            <th><input class="checkbox" type="checkbox" ng-model="contact.isCompleted" id="doneCheck"></th>
                            <th ><input type="text" ng-model="contact.fname" class="todo_input_header"></th>
                            <th colspan="2"><input type="text" ng-model="contact.phone" class="todo_input_date"> </th>
                      </tr>
                      <tr>
                            <td colspan="3"> <input type="text" ng-model="contact.lname" class="todo_input_body"></td>
                            <td><a class="fa fa-trash-o fa-2x" aria-hidden="true" ng-click="removeContact(contact)" style="color:red;"></a></td>
                            <td><button class="button" ng-click="saveContact(contact)" ng-disabled="!formy_edit.$dirty || formy_edit.$submitted" id="save_button">Save</button></td>
                      </tr>
                    </table>
                        </form> 
                          </li>
                </ul>
            </div>
                  <h2 class="title is-3 mrg-lft-10 ">Work</h2>
             <div class="has-text-centered" id="listDiv">
               <div class="level is-mobile" style="background-color:white;" id="list-header">

                   <div class="level-left pddng-10">
                       <p class="is-primary title is-4" style="color:#00d1b2;">Task</p>
                   </div>
                   <div class="level-right pddng-10">
                       <p class="is-primary title is-4" style="color:#00d1b2;">Date</p> 
                   </div>
               </div>
               
                <ul class="has-text-centered">
                    <li class="todo-list" ng-repeat="contact in contactList | filter:{subject:'work'} | orderBy: 'isCompleted'" ng-class="{'done':contact.isCompleted}">
                       <form name="formy_edit" class="level container" style="width:inherit; position: relative; ">
                          <table>
                        <tr>
                            <th><p class="priority">{{contact.priority}}</p></th>
                            <th><input class="checkbox" type="checkbox" ng-model="contact.isCompleted" id="doneCheck"></th>
                            <th ><input type="text" ng-model="contact.fname" class="todo_input_header"></th>
                            <th colspan="2"><input type="text" ng-model="contact.phone" class="todo_input_date"> </th>
                      </tr>
                      <tr>
                            <td colspan="3"> <input type="text" ng-model="contact.lname" class="todo_input_body"></td>
                            <td><a class="fa fa-trash-o fa-2x" aria-hidden="true" ng-click="removeContact(contact)" style="color:red;"></a></td>
                            <td><button class="button" ng-click="saveContact(contact)" ng-disabled="!formy_edit.$dirty || formy_edit.$submitted" id="save_button">Save</button></td>
                      </tr>
                    </table>
                        </form> 
                          </li>
                </ul>
            </div>
        </div>
        <footer class="title is-5 has-text-centered">
           <p>Copyright 2017 © Emily Blanchett</p>
       </footer>
    </div>
       
        
  <!--Load Angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!--Load firebase-->
    <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
    <!--Load Angularfire-->
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    <!--Load our app-->
    <script src="app.js"></script>
</body>

</html>
