/****************************************
        Utils 
****************************************/
.width-50{
    width:50%;
}
.width-30{
    width:30%;
}
.width-10{
    width:10%;
}
.mrg-tb-10{
    margin: 10px 0;
}
.mrg-tb-5{
    margin: 5px 0;
}
.pddng-5{
    padding:5px;
} 
.pddng-10{
    padding:10px;
}

/***************************************
        Template
***************************************/
#maindiv{
        height: 100%;
}
/**************************************
        Individual Styles
***************************************/
.done{
    text-decoration: line-through;
    color: red;
}
#listDiv{
    border:white solid 1px;
    width:65%;
    margin: 0 auto; 
    margin-top:30px;
    margin-bottom:20px;
    border-radius:3px;
}

.todo_input_header {
    display: block;
    border: none;
    width: 40%;
    padding-left:20px;
    font-size: 1.5rem;
    background-color: #00d1b2;
    border-color: #dbdbdb;
    border-bottom: 1px solid transparent;
    color: #fff;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.todo_input_body {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid transparent;
    width: 100%;
    padding-left:40px;
    font-size: 1rem;
    background-color: #00d1b2;;
    border-color: #dbdbdb;
    color: #fff;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.todo_input_date{
     padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid transparent;
    width: 100%;
    text-align: right;
    font-size: 1rem;
    background-color: #00d1b2;;
    border-color: #dbdbdb;
    color: #fff;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.done{
    text-decoration: line-through;
    color: red;
}

#desc-textarea{
    height:100px;
}

input[name=priority] {    
margin-left: 40px;
}    

/**************************************
            Media Queries
***************************************/

@media only screen and (max-width: 690px) {
    #listDiv{
    width:95%;
}
}

@media only screen and (max-width: 500px) {
    .mobile-input {
        width: 90%;
    }
    
input[name=priority] {    
margin-left: 10px;
}    
}
